.element__picture {
  width: 282px;
  height: 282px;
  object-fit: cover;
  border-radius: 10px 10px 0 0;
  display: block;
  cursor: pointer;
}

@media screen and (max-width: 900px) {
  .element__picture {
    width: 100%;
  }
}
